<% provide(:title, 'Sign up') %>


<!--<table class="table table-dark">-->
<!--<thead>-->
<!--<tr>-->
<!--  <td>名称</td>-->
<!--  <td>コード</td>-->
<!--  <td>編集</td>-->

<!--</tr>-->
<!--</thead>-->
<!--  <tbody>-->
  <%# @prefectures.each do |p| %>
<!--  <tr>-->
<!--    <td><%#= p.name %></td>-->
<!--    <td><%#= p.code %></td>-->
<!--    <td><%#= p.go_flag %></td>-->
<!--    <td><button class="btn btn-primary open-window" id="<%#= p.code %>">編集だよ</button></td>-->
<!--  </tr>-->
  <%# end %>
<!--  </tbody>-->

<!--</table>-->

<div id="app">
  <prefecture_table></prefecture_table>
</div>

<%= javascript_pack_tag 'prefectures' %>

